app.name=Currency Converter
app.version=0.9
app.default.rest.cache=response-cache.json
app.default.rest.url=http://data.fixer.io/api/latest?access_key=2085aae7e30a8276692cbc1a21d6882e&format=1
app.default.rest.model=FixerIOModel
app.fixerIO.rest.url=http://data.fixer.io/api/latest?access_key=2085aae7e30a8276692cbc1a21d6882e&format=1